body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
p, li, h1, h2, h3, h4, h5, h6 {
    color: #c5a059;
}
a {
    color: #c5a059;
    text-decoration: none;
}
.navbar {
    background-color: black;
    margin: 0px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar-title {
    color: #c5a059;
    font-size: 35px;
    font-weight: bold;
}

#nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
    font-size: 20px;
}
#donate-link {
    background-color: goldenrod;
    color: rgba(56, 27, 6, 0.594);
    padding: 8px 15px;
    border-radius: 10px;
    font-weight: bold;
}
.hero-title {
font-family: 'Playfair Display', serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 1.1;
}
.white-text-in-hero-title {
    color: white;
}

.btn {
    background-color: goldenrod;
    color: black;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: bold;
    text-decoration: none;
}
.bismillah {
    font-size: 24px;
    display: inline-block;
    padding: 6px 16px;         
     border: 1px solid #c5a059;  
     border-radius: 50px;      
    color: #c5a059;            
    font-size: 12px;           
    text-transform: uppercase; 
    letter-spacing: 2px;    
    margin-bottom: 20px;
}

.hero-container {
    text-align: center;
    padding: 50px 20px;
}

.section-label {
  display: flex;
  align-items: center;
  gap: 15px;           
  margin-bottom: 20px;
}

.line {
  width: 40px;        
  height: 1px;        
  background-color: #c5a059; 
}

.label-text {
  color: #c5a059;
  font-size: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.mission-vision-container {
    display: flex; 
    align-items: left;
    max-width: 600px;
    font-size: 25px;
    line-height: 1.6;
    font-family: 'Inter', sans-serif;
    border-radius: 15px;
}

.mission-vision-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}