  <nav class="navbar">
    <div id="navbar-title">
        <a href="index.html">
            <p class="gold-text">Masjid Ibn Taymiyyah</p>
        </a>
    </div>
    
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar"><i class="fas fa-bars"></i></label>

    <ul id="nav-links">
        <li><a href="index.html">Home</a></li>
        <li><a href="PrayerTimesPage.html">Prayer Times</a></li>
        <li><a href="aboutUsPage.html">About Us</a></li>
        <li><a href="ProgramsPage.html">Programs</a></li>
        <li><a href="ServicesPage.html">Services</a></li>
        <li><a href="EventsPage.html">Events</a></li>
        <li><a href="ContactPage.html">Contact</a></li>
        <li><a href="DonationPage.html" id="donate-link">🤎 Donate</a></li>
    </ul>
</nav>